/*                  Root Properties                       */

:root {
  --red: #be1e2d;
  --black: #231f20;
  /* --black: #333; */
  --light: #fff;
  --alt-bg: #f8faff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 1px solid var(--red);
  --filter-red: invert(17%) sepia(95%) saturate(3171%) hue-rotate(343deg)
    brightness(82%) contrast(92%);
  --filter-white: invert(100%) sepia(8%) saturate(238%) hue-rotate(288deg)
    brightness(116%) contrast(100%);
  --light-gray: #e4e4e4;
}

/* Set Font */

@font-face {
  font-family: "Agenor";
  src: url("./resources/Agenor-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./resources/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.transition {
  transition: 200ms ease-in-out;
}
.primary-clr {
  color: var(--red);
}
.secondary-clr {
  color: var(--black);
}
.text-white {
  color: var(--light);
}
.text-black {
  color: var(--black);
}
.alternate-bg {
  color: var(--alt-bg);
}
a {
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Agenor", sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: var(--light);
  font-family: "Montserrat";
}

header {
  height: 100vh;
  min-height: 840px;
  background: url("resources/bg_alt5.jpg") no-repeat;
  background-size: cover;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 12rem;
  /* margin-right: 40rem; */
}
.nav-bar {
  width: 100%;
  /* display: fixed; */
  position: fixed;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-block: 1.5rem;
}
.nav-colored {
  background-color: var(--black);
}

.nav-transparent {
  background: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > ul {
  display: flex;
  list-style-type: none;
}

.nav-links a {
  padding: 0.75rem;
}

.nav-links a:hover {
  color: var(--red);
}

.nav-links .sign-up-btn {
  margin-left: 1rem;
}

.sign-up-btn {
  color: var(--light);
  font-weight: 600;
  padding: 0.6rem 2rem;
  border: 1px solid var(--light);
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}

.sign-up-btn:hover {
  color: var(--light);
  background-color: var(--red);
  border: var(--border);
}

.head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80%;
  height: 100%;
  margin-bottom: 2.5rem;
  gap: 2rem;
}

.headline {
  font-family: "Agenor";
  font-size: min(3rem, 6vw);
  color: var(--black);
  line-height: 2;
}

.headline span {
  font-size: inherit;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  /*color: var(--light);*/
  margin-bottom: 1.2rem;
}

.head-content form {
  margin-bottom: 1.2rem;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.head-content input[type="text"] {
  margin: 0;
  height: 3rem;
  width: 29rem;
  font-size: 1rem;
  border: none;
  /* border: 2px solid rgb(238, 238, 238); */
  text-align: left;
  padding-left: 1rem;
  font-family: inherit;
  /* border-radius: 1.5rem 0 0 1.5rem; */
}

.head-content input[type="submit"] {
  margin: 0;
  height: 3rem;
  width: 12rem;
  background-color: var(--red);
  color: var(--light);
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  /* border-radius: 0 1.5rem 1.5rem 0; */
}

.head-content input[type="submit"]:hover {
  background-color: var(--black);
}

.btns svg {
  display: inline-block;
  max-width: 20px;
  margin-right: 0.5rem;
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.btn {
  min-width: 5rem;
  padding: 1rem 2rem;
  border: none;
  color: var(--black);
  background-color: var(--light);
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  color: var(--light);
  background-color: var(--red);
}

/* Card-Content */

.card-container {
  display: flex;
  justify-content: center;
  min-width: 80%;
  background-color: var(--alt-bg);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 3rem 2rem;
  max-width: 12.5rem;
  background-color: var(--light);
  border-radius: 3px;
  position: relative;
  top: -100px;
  box-shadow: 0 0 1rem -0.75rem;
}

.cards:hover {
  background-color: var(--red);
}

.cards:hover svg {
  filter: var(--filter-white);
}

.cards:hover .title {
  color: var(--light);
}

.cards:hover .subtitle {
  color: var(--light);
}

.cards svg {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  filter: var(--filter-red);
}

.title {
  font-size: min(0.9rem, 6vw);
  color: var(--black);
  font-weight: lighter;
}

.cards > .subtitle {
  color: var(--black);
  font-size: small;
  padding: 0.4rem;
  text-align: center;
}

/* Featured Part of the Page */

.featured-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.f-cards {
  width: 256px;
  height: 396px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.f-img {
  width: 256px;
  height: 300px;
  object-fit: cover;
}

.f-txt {
  height: 96px;
  padding: 0.3rem 1rem;
}

.offers {
  background-color: var(--alt-bg);
  padding-block: 5rem;
}

.offer-text {
  max-width: 80%;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.offer-card-list,
.blog-card-list {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-inline: 1.5rem;
}
.offer-card,
.blog-card {
  font-family: "Montserrat", sans-serif;
  /* height: 25rem; */
  overflow: hidden;
  border: 1px solid var(--light-gray);
  border-radius: 0.125rem;
  box-shadow: 0 0 1rem -0.9rem;
  max-width: 21rem;
  transition: 300ms ease-in-out;
}
.blog-card {
  box-shadow: none;
  background-color: var(--light);
}
.offer-card:hover {
  box-shadow: 0 0 1rem -0.5rem;
}
.offer-card:hover .offer-card-link {
  opacity: 1;
}
.offer-card:not(:last-child),
.blog-card:not(:last-child) {
  margin-right: 1rem;
}
.offer-card-img,
.blog-card-img {
  display: block;
  position: relative;
  background: url("resources/package-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 5/4;
}
.offer-card-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.offer-card-link svg {
  width: 1.5rem;
}
.offer-card-content,
.blog-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.offer-card-title {
  display: flex;
  justify-content: space-between;
}
.offer-card-description {
  font-size: 14px;
}
.offer-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--light-gray);
  padding-top: 1rem;
}
.offer-card-footer p {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.offer-card-footer svg {
  height: 1rem;
}
.offer-card-footer button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: var(--red);
  color: var(--light);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.offer-card-footer button:hover {
  filter: brightness(1.125);
}

.stats {
  color: var(--light);
  background: linear-gradient(
      135deg,
      hsla(183, 62%, 47%, 0.8) 0%,
      hsla(156, 71%, 65%, 0.8) 100%
    ),
    url("resources/stats-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 3rem;
}
.stats-list {
  text-align: center;
  display: flex;
  gap: 2rem;
}
.hotels {
  background-color: var(--light);
}
.testimonials {
  background-color: var(--alt-bg);
  padding-block: 10rem;
}
.testimonials > div {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}
.testimonials-description {
  min-width: 50%;
}
.testimonials-description > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.testimonials-description p {
  max-width: 75%;
  line-height: 1.5;
}
.testimonials-description button {
  border: 1px solid var(--red);
  color: var(--red);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  background-color: transparent;
  transition: 200ms ease-in-out;
}
.testimonials-description button:hover {
  background-color: var(--red);
  color: var(--light);
}
.guest-testimony {
  min-width: 50%;
}
.guest-testimony > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.testimony-card {
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  background: var(--light);
  box-shadow: 0 0.1rem 1rem -0.9rem;
}
.testimony-img {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  align-self: flex-start;
  /* overflow: hidden; */
}
.testimony-img > img {
  display: block;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.testimony-quote {
  background-color: red;
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}
.testimony-quote > img {
  filter: invert();
  width: 15px;
}
.testimony-card > div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.restaurants {
  background-color: var(--light);
}
.restaurants > .offer-card-list {
  max-width: 80%;
  margin: 0 auto;
}
.subscribe {
  background: linear-gradient(
    135deg,
    hsla(183, 62%, 47%, 0.8) 0%,
    hsla(156, 71%, 65%, 0.8) 100%
  );
  color: var(--light);
  display: grid;
  place-items: center;
  text-align: center;
  padding: 10rem;
}
.subscribe-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(35rem, 40vw);
}
.subscribe-input {
}
.email-input > input,
button {
  border: 1px solid var(--light);
  outline: none;
  border-radius: 0;
  padding: 1rem;
  background: transparent;
  color: var(--light);
  font-size: 1rem;
}
.email-input > input {
  min-width: 15rem;
}

.email-input > button {
  cursor: pointer;
}

footer {
  color: var(--light-gray);
  background-color: var(--black);
  padding-block: 10rem;
  padding-inline: 2rem;
  display: grid;
  place-items: center;
}
ul {
  list-style: none;
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 80%;
  line-height: 2;
  margin-bottom: 5rem;
}
.foot-nav:not(:last-child) {
  margin-right: 3rem;
}
.foot-nav > h3 {
  margin-bottom: 3rem;
}
.foot-nav ul > *:not(:last-child) {
  margin-bottom: 2rem;
}
.foot-nav:first-child {
  color: var(--light);
}
.foot-nav a {
  transition: 200ms ease-in-out;
}
.foot-nav a:hover {
  filter: brightness(0.7);
}
.questions p {
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  nav {
    flex-direction: column;
  }
  .headline {
    text-align: center;
  }
  .testimonials > div {
    flex-direction: column;
    gap: 2rem;
  }
  .testimonials-description p {
    min-width: 100%;
  }
  .footer-nav {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}
