/*                  Root Properties                       */

:root {
    --red: #be1e2d;
    --black: #231f20;
    --light: #fff;
    --alt-bg: #f8faff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --border: 1px solid var(--red);
    --filter-red: invert(17%) sepia(95%) saturate(3171%) hue-rotate(343deg) brightness(82%) contrast(92%);
    --filter-white: invert(100%) sepia(8%) saturate(238%) hue-rotate(288deg) brightness(116%) contrast(100%);
}


/* Set Font */

@font-face {
    font-family: "Agenor";
    src: url("./resources/Agenor-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./resources/Montserrat-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.transition {
    transition: 200ms ease-in-out;
}

.primary-clr {
    color: var(--red);
}

.secondary-clr {
    color: var(--black);
}

.text-white {
    color: var(--light);
}

.alternate-bg {
    color: var(--alt-bg);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Agenor", sans-serif;
}

.nav-links a {
    text-decoration: none;
    color: var(--light);
    font-family: "Montserrat";
}

header {
    height: 100vh;
    background: url("resources/bg_alt5.jpg") no-repeat;
    background-size: cover;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 12rem;
    /* margin-right: 40rem; */
}

.nav-bar {
    width: 100%;
    display: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links>ul {
    display: flex;
    list-style-type: none;
}

.nav-links a {
    padding: 0.75rem;
}

.nav-links a:hover {
    color: var(--red);
}

.nav-links .sign-up-btn {
    margin-left: 1rem;
}

.sign-up-btn {
    color: var(--light);
    font-weight: 600;
    padding: 0.6rem 2rem;
    border: 1px solid var(--light);
    border-radius: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}

.sign-up-btn:hover {
    color: var(--light);
    background-color: var(--red);
    border: var(--border);
}

.head-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 80%;
    height: 100%;
    margin-top: min(5rem, 10vh);
    gap: 2rem;
}

.headline {
    font-family: "Agenor";
    font-size: min(3rem, 6vw);
    color: var(--black);
    line-height: 2;
}

.headline span {
    font-size: inherit;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: var(--light);
    margin-bottom: 1.2rem;
}

.head-content form {
    margin-bottom: 1.2rem;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.head-content input[type="text"] {
    margin: 0;
    height: 3rem;
    width: 29rem;
    font-size: 1rem;
    border: none;
    /* border: 2px solid rgb(238, 238, 238); */
    text-align: left;
    padding-left: 1rem;
    font-family: inherit;
    /* border-radius: 1.5rem 0 0 1.5rem; */
}

.head-content input[type="submit"] {
    margin: 0;
    height: 3rem;
    width: 12rem;
    background-color: var(--red);
    color: var(--light);
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    /* border-radius: 0 1.5rem 1.5rem 0; */
}

.head-content input[type="submit"]:hover {
    background-color: var(--black);
}

.btns svg {
    max-width: 20px;
    margin-right: 0.5rem;
}

.btns {
    display: flex;
    justify-content: flex-start;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    color: var(--black);
    background-color: var(--light);
    margin-right: 3rem;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    color: var(--light);
    background-color: var(--red);
}


/* Card-Content */

.card-container {
    display: flex;
    justify-content: center;
    min-width: 80%;
    background-color: var(--alt-bg);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    padding: 3rem 0rem;
    max-width: 14rem;
    background-color: var(--light);
    border-radius: 3px;
    position: relative;
    top: -100px;
}

.cards:hover {
    background-color: var(--red);
}

.cards:hover svg {
    filter: var(--filter-white);
}

.cards:hover .title {
    color: var(--light);
}

.cards:hover .subtitle {
    color: var(--light);
}

.cards svg {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    filter: var(--filter-red);
}

.title {
    font-size: min(0.9rem, 6vw);
    color: var(--black);
    font-weight: lighter;
}

.cards>.subtitle {
    color: var(--black);
    font-size: small;
    padding: 0.4rem;
    text-align: center;
}

@media (max-width: 900px) {
    nav {
        flex-direction: column;
    }
    .headline {
        text-align: center;
    }
}